.link {
  position: absolute;
  top: 42%;
  right: 7.6%;
  perspective: 1000px;
  width: 14%;
  height: 17%;
}

.link a {
  transform: rotateY(-35deg) rotateX(-5deg) rotateZ(6deg);
  animation: fullpulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.link svg {
  width: 20%;
  height: auto;
}

.link span {
  font-size: 2vw;
}

.link:hover a {
  animation: none;
}

@keyframes fullpulse {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}
