.wrapper {
  perspective: 1000px;
  position: absolute;
  top: 65%;
  left: 48.25%;
  width: 3.5%;
  aspect-ratio: 1/1;
}

.button {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-width: 4px;
  border-color: transparent;
  /* border-radius: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.button:hover {
  animation: none;
}

.button svg {
  width: 70%;
  height: auto;
}

.wrapperLogo {
  perspective: 1000px;
  position: absolute;
  top: 71.25%;
  left: 46%;
  width: 8%;
  aspect-ratio: 3/2;
}

.buttonLogo {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-width: 4px;
  border-color: transparent;
  /* border-radius: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* .buttonBooth {
  position: absolute;
  top: 61%;
  left: 47.5%;
  width: 5%;
  border-color: transparent;
  aspect-ratio: 1 / 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-width: 0.3vw;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.buttonBooth:hover {
  animation: none;
  border-color: white;
}

.buttonBooth svg {
  width: 75%;
  height: auto;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
} */
