.button {
  position: absolute;
  top: 11.5%;
  left: 33.5%;
  width: 33%;
  height: 25%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background: rgba(255, 255, 255, 0.65);
  color: #00b4bf;
  /* border-width: 4px; */
  border-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  border-color: #00b4bf;
}

.button svg {
  width: 15%;
  border-width: 0.4vw;
  border-color: #00b4bf;
  border-radius: 50%;
}
