.link {
  position: absolute;
  top: 15%;
  left: 27%;
  width: 47.3%;
}

.link svg {
  width: 4vw;
  height: auto;
  margin-right: 0.5vw;
}

.link img {
  width: 2.5vw;
  height: auto;
  margin-right: 0.5vw;
}
